In [42]:
import streamlit as st
import joblib
import pandas as pd

In [35]:

from keras.models import load_model
from tensorflow.keras.models import Sequential
model_ann_0 = load_model('./modelann.h5')

In [36]:

from PIL import Image

In [39]:

data_train_example = joblib.load( open( "./data_train_example.p", "rb" ))#

In [40]:
data_train_example

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
19226,7.3003,19.0,7.961600,1.137600,1926.0,3.081600,38.46,-122.68
14549,5.9547,18.0,6.547325,1.102881,547.0,2.251029,32.95,-117.24
9093,3.2125,19.0,5.207547,1.216981,314.0,2.962264,34.68,-118.27
12213,6.9930,13.0,6.428571,1.000000,120.0,2.857143,33.51,-117.18
12765,2.5162,21.0,4.429348,1.036685,1735.0,2.357337,38.62,-121.41
...,...,...,...,...,...,...,...,...
13123,4.4125,20.0,6.000000,1.045662,712.0,3.251142,38.27,-121.26
19648,2.9135,27.0,5.349282,0.933014,647.0,3.095694,37.48,-120.89
9845,3.1977,31.0,3.641221,0.941476,704.0,1.791349,36.58,-121.90
10799,5.6315,34.0,4.540598,1.064103,1052.0,2.247863,33.62,-117.93
2732,1.3882,15.0,3.929530,1.100671,1024.0,3.436242,32.80,-115.56

In [45]:
data_train_example[['Latitude', 'Longitude']].values

array([[  38.46, -122.68],
       [  32.95, -117.24],
       [  34.68, -118.27],
       ...,
       [  36.58, -121.9 ],
       [  33.62, -117.93],
       [  32.8 , -115.56]])

In [46]:
st.map(pd.DataFrame(data_train_example[['Latitude', 'Longitude']].values, columns=['lat', 'lon']))

In [ ]:
st.text()

In [ ]:
MedInc = st.sidebar.slider(
	"Revenus moyens des habitants du quartier", 
	min_value=float(data_train_example.min()[0]), 
	max_value=float(data_train_example.max()[0]),
    
	)

In [50]:
sys.version

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'